In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import decomposition
from sklearn import model_selection
import category_encoders as ce
from sklearn import tree
from sklearn import impute

In [25]:
test  = pd.read_csv('./competitive-data-science-predict-future-sales/test.csv')
items = pd.read_csv('./competitive-data-science-predict-future-sales/items.csv')
shops = pd.read_csv('shop_online.csv')
prices= pd.read_csv('test_price.csv')

In [12]:
items.columns
print(test.shape)

(214200, 5)

In [27]:
test = test.merge(items, how='left', on='item_id')

In [13]:
print(test.shape)
print(test.isna().sum())

(214200, 5)
ID                  0
shop_id             0
item_id             0
item_name           0
item_category_id    0
dtype: int64

In [28]:
test = test.merge(shops, how='left', on='shop_id')
test.head()

,ID_x,shop_id,item_id,ID_y,item_price,item_name,item_category_id,Unnamed: 0,online
0,0,5,5037,0,1633.692308,"NHL 15 [PS3, русские субтитры]",19,553,0
1,1,5,5320,1,NaN,ONE DIRECTION Made In The A.M.,55,553,0
2,2,5,5233,2,865.666667,"Need for Speed Rivals (Essentials) [PS3, русск...",19,553,0
3,3,5,5232,3,599.000000,"Need for Speed Rivals (Classics) [Xbox 360, ру...",23,553,0
4,4,5,5268,4,NaN,"Need for Speed [PS4, русская версия]",20,553,0

In [29]:
test = test.merge(prices, how='left', on=['shop_id', 'item_id'])
test.head()

,ID_x,shop_id,item_id,ID_y,item_price_x,item_name,item_category_id,Unnamed: 0,online,ID,item_price_y
0,0,5,5037,0,1633.692308,"NHL 15 [PS3, русские субтитры]",19,553,0,0,1633.692308
1,1,5,5320,1,NaN,ONE DIRECTION Made In The A.M.,55,553,0,1,NaN
2,2,5,5233,2,865.666667,"Need for Speed Rivals (Essentials) [PS3, русск...",19,553,0,2,865.666667
3,3,5,5232,3,599.000000,"Need for Speed Rivals (Classics) [Xbox 360, ру...",23,553,0,3,599.000000
4,4,5,5268,4,NaN,"Need for Speed [PS4, русская версия]",20,553,0,4,NaN

In [30]:
test = test.drop(['item_name','Unnamed: 0', 'ID_y', 'item_price_y','ID_x'], axis=1)

In [34]:
test.head()
test.isna().sum()

shop_id                 0
item_id                 0
item_price_x        15246
item_category_id        0
online                  0
ID                      0
dtype: int64

In [39]:

test = test.replace(np.nan, 9999)
test.isna().sum()

shop_id             0
item_id             0
item_price_x        0
item_category_id    0
online              0
ID                  0
dtype: int64

In [40]:
test.to_csv("test_all_in_constant_nan.csv")